/* fill this in with your own css */
.appContent
{
	margin-left: 5px;
	margin-right:5px;
}

.themeBorder, .themeBorderBackground
{
	border: solid #669cf0 1px;			
}

.themeBackground, .themeBorderBackground
{
	background-color: #d0ecd2;
}

.scrollTableSpacer
{
	margin-top: 10px;
}

.scrollTableCaption
{
	font-weight: bolder;
}

.statusBox, .themePaddedBorder
{
	border: solid #669cf0 1px;
	padding: 5px;
	margin-top: 10px;
	margin-right: 5px;
}

.statusErrorIndicator
{
	color: #f97569;
}

.statusSuccessIndicator
{
	color: #45c368;
}

.standardTableHeader
{
	background-color: #669cf0;
	color:	white;
	font-weight: bolder;
}

.standardTable, .horizontalTable
{
	border: 1px solid silver;
	margin-bottom: 6px;
	border-collapse: collapse;
	border-spacing: 3px ;
}

.horizontalHeader
{
	font-weight: bold;
}

.horizontalPrimaryColor
{
	background-color: #fdf7b3;
}

.horizontalSecondaryColor
{
	background-color: #d0ecd2;
}

.formLabel
{
	float: left;
	width: 170px;
	margin-right: 10px;
	text-align: right;
	font-weight: bold;
	clear: left;
}

.formShiftRight
{
	margin-left: 180px;
}

.gwt-MenuBar .gwt-MenuItem-selected
{
	color: green;
}

.grepGreen
{
	color: #07ab17;
}

.grepBlue
{
	color: #4367df;
}

.grepRed
{
	color: #ec3b33;
}

.grepYellow
{
	color: #fdbe17;
}

.gwt-ProgressBar-shell 
{
  border: 2px solid #faf9f7;
  border-right: 2px solid #848280;
  border-bottom: 2px solid #848280;
  background-color: #AAAAAA;
  height: 14pt;
  width: 90%;
  text-align: center;
}

.gwt-ProgressBar-shell .gwt-ProgressBar-bar {
  background-color: #67A7E3;
}

.gwt-ProgressBar-shell .gwt-ProgressBar-text
{
  padding: 0px;
  margin: 0px;
  color: white;
}

.capitalizeText
{
	text-transform: capitalize;
}

.uppercaseText
{
	text-transform: uppercase;
}

.grepBlack
{
	color: black;
}