/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.busy-PopupPanel {
	margin: 1px;
	border: 1px solid Black;
	background-color: #ffffff;
}

.markLocked {
		background-image: url('fieldcodata/images/locked.png');
		background-repeat: no-repeat;
		background-position: right top;
		background-size: contain;
}
.markOpened {
		background-image: url('fieldcodata/images/admin.png');
		background-repeat: no-repeat;
		background-position: right bottom;
		background-size: contain;
}


.twitter-typeahead, .tt-hint, .tt-input, .tt-menu { width: 100%; }