@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Roboto');

/* Utility Classes */
* {
  box-sizing: border-box;
}
body {
  line-height: 1.6;
  font-size: 16px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  /* color: #374046; */
}
.link {
  text-decoration: none;
  color: #23419f;
}
.link:hover {
  color: crimson;
  text-decoration: underline;
  /* cursor: pointer; */
}
.container {
  max-width: 1150px;
  margin: 20px auto;
}
.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #0277bd;
  border: none;
  padding: 10px 16px;
  border-radius: 3.2px;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn:hover {
  background-color: #01579b;
  color: #fff;
}
h1.m-heading {
  font-size: 32px;
}
.left-align {
  text-align: left;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 20px;
}
.secondary-font {
  font-family: 'Montserrat', sans-serif;
}
.m-right {
  margin-right: 40px;
}

/* Section: Main body */
#main-body {
  display: flex;
  padding-bottom: 50px;
}
#main-body .item {
  width: 50%;
}
#main-body .img {
  background: url('img/segun.jpg') no-repeat center center/cover;
  margin: 30px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #545454;
}
/* Footer */
footer {
  color: #374046;
  text-align: center;
  background: #f4f4f4;
  padding: 30px 20px 0 20px;
  font-size: 14px;
}
footer .container {
  padding: 0;
}
footer .items {
  display: flex;
}
footer .item {
  width: 50%;
}
footer h2 {
  margin-top: 0;
}
footer p {
  font-size: inherit;
  margin: 16px 0;
}
footer .copy {
  padding: 20px 0;
  font-size: 13px;
  border-top: 1px solid #ebebeb;
  margin: 0;
}
footer .icons a {
  color: inherit;
  padding-right: 20px;
}
footer .icons i {
  font-size: inherit;
}
footer .icons a:last-child {
  padding-right: 0;
}
footer .icons {
  color: #545454;
  padding-top: 20px;
}
footer .fa-facebook:hover {
  color: #3b5998;
}
footer .fa-linkedin:hover {
  color: #0077b5;
}
footer .fa-whatsapp:hover {
  color: #1e836c;
}
footer .fa-instagram:hover {
  color: #833ab4;
}
footer .fa-google:hover {
  color: #ea4335;
}
footer .fa-youtube-play:hover {
  color: #FF0000;
}
footer iframe {
  padding: 0;
}
footer .address {
  text-align: left;
  font-size: inherit;
}
footer li {
  font-size: inherit;
  padding-left: 10px;
}
footer .map {
  height: 304px;
}
footer .card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
footer .card h5 {
  font-size: inherit;
}
/* Small and medium screens */
@media (max-width: 1024px) {
  /* Section: Main */
  #main-body {
    display: block;
  }
  #main-body .item {
    width: 100%;
    display: block;
  }
  #main-body .img {
    height: 500px;
    margin: 30px 0;
  }
  #main-body .btn {
    display: block;
    text-align: center;
  }
  /* Footer */
  footer {
    font-size: 15px;
  }
  footer .items {
    display: block;
  }
  footer .item {
    width: 100%;
  }
  footer .card {
    margin-top: 50px;
  }
  footer p {
    font-size: inherit;
  }
  footer iframe {
    padding: 0;
  }
  footer .copy {
    font-size: 14px;
  }
  footer .icons i {
    font-size: inherit;
  }
}