.dashMenu
{
    float: right;
    text-decoration: none;
    font-size: 8pt;
}

.dashMenuAlt
{
    float: right;
    text-decoration: none;
    font-size: 8pt;
}
.dashSeperators
{
    color:orangered;
    font-weight: bold;
    font-size: 1.2em;
    float: right;;
}

.dashMenu > a {
    color: green;
}