.qaMenu
{
    text-decoration: none;
    color: black!important;
}

.qaMenuAlt
{
    text-decoration: none;
    color: black!important;
}
.qaSeperators
{
    color:black;
}

.qaMenu > a {
    color: black!important;
}